<!--<!DOCTYPE html>-->
<!--&lt;!&ndash;[if lt IE 7]>      <html lang="en" ng-app="le_taste" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]&ndash;&gt;-->
<!--&lt;!&ndash;[if IE 7]>         <html lang="en" ng-app="le_taste" class="no-js lt-ie9 lt-ie8"> <![endif]&ndash;&gt;-->
<!--&lt;!&ndash;[if IE 8]>         <html lang="en" ng-app="le_taste" class="no-js lt-ie9"> <![endif]&ndash;&gt;-->
<!--&lt;!&ndash;[if gt IE 8]>&lt;!&ndash;> <html lang="en" ng-app="le_taste" class="no-js"> &lt;!&ndash;<![endif]&ndash;&gt;-->
<!--<head>-->
  <!--<meta charset="utf-8">-->
  <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
  <!--<title>My AngularJS App</title>-->
  <!--<meta name="description" content="">-->
  <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
  <!--<link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">-->
  <!--<link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">-->
  <!--<link rel="stylesheet" href="app.css">-->
  <!--<script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>-->
<!--</head>-->
<!--<body>-->
  <!--<ul class="menu">-->
    <!--<li><a href="#!/view1">view1</a></li>-->
    <!--<li><a href="#!/view2">view2</a></li>-->
  <!--</ul>-->

  <!--&lt;!&ndash;[if lt IE 7]>-->
      <!--<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>-->
  <!--<![endif]&ndash;&gt;-->

  <!--<div ng-view></div>-->

  <!--<div>Angular seed app: v<span app-version></span></div>-->

  <!--&lt;!&ndash; In production use:-->
  <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>-->
  <!--&ndash;&gt;-->
  <!--<script src="bower_components/angular/angular.js"></script>-->
  <!--<script src="bower_components/angular-route/angular-route.js"></script>-->
  <!--<script src="app.js"></script>-->
  <!--<script src="view1/view1.js"></script>-->
  <!--<script src="view2/view2.js"></script>-->
  <!--<script src="components/version/version.js"></script>-->
  <!--<script src="components/version/version-directive.js"></script>-->
  <!--<script src="components/version/interpolate-filter.js"></script>-->
<!--</body>-->
<!--</html>-->
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>LeTaste video catalogue</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/slick-carousel/slick/slick.css" />
  <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
  <!-- build:css(.tmp) styles/main.css -->
  <!-- endbuild -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="app.js"></script>
  <script src="baseUrl.js"></script>
  <!--login-->
  <script src="components/Login/LoginCtrl.js"></script>
  <script src="components/Login/Login.js"></script>
  <!-- main -->
  <script src="components/Core/mainModule.js"></script>
  <script src="components/Core/personal.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/slick-carousel/slick/slick.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
  <script src="bower_components/angular-slick-carousel/dist/angular-slick.js"></script>
  <!-- components -->
  <!--version-->
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
  <!-- core -->
  <script src="routes.js"></script>
  <!--login-->
  <script src="view2/view2.js"></script>

  <!--<script src="scripts/controllers/login.js"></script>-->
  <!--<script src="scripts/controllers/main.js"></script>-->
  <!--<script src="scripts/controllers/home.js"></script>-->
  <!--<script src="scripts/controllers/personal.js"></script>-->
  <!--&lt;!&ndash;<script src="scripts/imdbRatingPlugIn.js"></script>&ndash;&gt;-->
  <!--<script src="scripts/imdbRatingShort.js"></script>-->
  <!--&lt;!&ndash; endbuild &ndash;&gt;-->
</head>
<body ng-app="le_taste">
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#">angularVideoApp</a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav">
          <li class="active" ><a href="#">Home</a></li>
          <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="" ng-click="personalPage('4')">Watchlist</a></li>
              <li><a href="" ng-click="personalPage('0')">Liked</a></li>
              <li><a href="" ng-click="personalPage('1')">Disliked</a></li>
              <li><a href="" ng-click="personalPage('2')">Neutral</a></li>
              <li><a href="" ng-click="personalPage('3')">Skipped</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Friends <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="">Watchlist</a></li>
              <li><a href="">Liked</a></li>

            </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-right">
          <button ng-cloak ng-if="$root.logged" ng-click="$root.logOut()" class="btn btn-danger">Logout</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container main-view-container" >
  <!--<div ng-include="'views/main.html'" onload="initilizePopOverButtons();sendRequest();" ng-controller="MainCtrl"></div>-->
  <!--<div ng-view onload="initilizePopOverButtons();sendRequest();" ng-controller="MainCtrl"></div>   -->
  <div ng-view></div>
</div>

<div class="footer">
  <div class="container">

  </div>
</div>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
        (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
      r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
  }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
</script>


</body>
</html>
